body {
  margin: 0; /* ページの余白を消す */
  height: 100vh; /* 画面の高さいっぱいに */
  background-image: url('メイン背景.png');
  background-size: cover;      /* 画面全体に拡大してフィット */
  background-position: center; /* 画像の中心を画面中央に */
  background-repeat: no-repeat;/* 繰り返さない */
}


/* ロゴのコンテナ */
#contena {
  position: fixed;     /* 画面に固定 */
  top: 0;              
  left: 0;             
  width: 100%;         /* 横幅いっぱい */
  background-color: rgba(204, 255, 204, 0.7); /* 薄緑を少し透過 */
  padding: 10px 0;     /* 上下の余白だけ */
  z-index: 1000;       /* 他の要素より前に出す */
  text-align: center;  /* 中の画像を中央に配置 */
}

/* ロゴ */
#rogo {
  width: 200px;      
  height: auto;
}

/* コンテナ1 */
#contena1 {
  margin-top: 200px;        /* 上のロゴコンテナの下に余白 */
  text-align: center;       /* 中央寄せ */
  width: 300px;             /* 横幅 */
  height: 150px;            /* 高さ */
  margin-left: auto;        /* 横中央寄せ用 */
  margin-right: auto;       /* 横中央寄せ用 */
  padding: 20px;            /* 内側の余白 */
  border-radius: 10px;      /* 丸び */
  background-color: #ffffff; /* 背景色（お好みで） */

  display: flex;           /* Flexboxを有効にする */
  flex-direction: column;  /* 縦方向に並べる */
  justify-content: flex-end; /* 下方向に寄せる */
  transition: background-color 0.15s;
}

/* ホバー時に背景色を灰色にする */
#contena1:hover {
  background-color: #DCDCDC;
}

/* プレイボタン1 */
#play1 {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 5px;           /* 丸び */
  background-color: #00FFFF;  /* 青 */
  opacity: 0;                /* 透明にして非表示 */
  
}

/* contena1 にカーソルが乗ったらボタンを表示 */
#contena1:hover #play1 {
  opacity: 1;
}

/* ホバー時に背景色を灰色にする */
#play1:hover {
  background-color: #00CED1;
}
